<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="torneio">
            <h2><span>Torneio</span> {{torneio.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Jogo</span></dt>
                <dd>
                    <span>{{torneio.jogo}}</span>
                </dd>
                <dt><span>Categoria</span></dt>
                <dd>
                    <span>{{torneio.categoria}}</span>
                </dd>
                <dt><span>Premiacao</span></dt>
                <dd>
                    <span>{{torneio.premiacao}}</span>
                </dd>
                <dt><span>Administrador</span></dt>
                <dd>
                    <div *ngIf="torneio.administrador">
                        <a [routerLink]="['/administrador', torneio.administrador?.id, 'view']">{{torneio.administrador?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/torneio', torneio.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
