<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="premium">
            <h2><span>Premium</span> {{premium.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>D Incio</span></dt>
                <dd>
                    <span>{{premium.dIncio}}</span>
                </dd>
                <dt><span>D Fim</span></dt>
                <dd>
                    <span>{{premium.dFim}}</span>
                </dd>
                <dt><span>Desconto</span></dt>
                <dd>
                    <span>{{premium.desconto}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/premium', premium.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
