<div>
    <h2 id="page-heading">
        <span>Lanchonetes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-lanchonete" [routerLink]="['/lanchonete/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Lanchonete
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="lanchonetes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Bebidas</span></th>
            <th><span>Lanches</span></th>
            <th><span>Combos</span></th>
            <th><span>Precos</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let lanchonete of lanchonetes ;trackBy: trackId">
                <td><a [routerLink]="['/lanchonete', lanchonete.id, 'view' ]">{{lanchonete.id}}</a></td>
                <td>{{lanchonete.bebidas}}</td>
                <td>{{lanchonete.lanches}}</td>
                <td>{{lanchonete.combos}}</td>
                <td>{{lanchonete.precos}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/lanchonete', lanchonete.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/lanchonete', lanchonete.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'lanchonete/'+ lanchonete.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
