<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="lanchonete">
            <h2><span>Lanchonete</span> {{lanchonete.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Bebidas</span></dt>
                <dd>
                    <span>{{lanchonete.bebidas}}</span>
                </dd>
                <dt><span>Lanches</span></dt>
                <dd>
                    <span>{{lanchonete.lanches}}</span>
                </dd>
                <dt><span>Combos</span></dt>
                <dd>
                    <span>{{lanchonete.combos}}</span>
                </dd>
                <dt><span>Precos</span></dt>
                <dd>
                    <span>{{lanchonete.precos}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/lanchonete', lanchonete.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
