<div>
    <h2 id="page-heading">
        <span>Usuarios</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-usuario" [routerLink]="['/usuario/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Usuario
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="usuarios">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Login</span></th>
            <th><span>Senha</span></th>
            <th><span>Name</span></th>
            <th><span>Credito</span></th>
            <th><span>Vip</span></th>
            <th><span>Lanchonete</span></th>
            <th><span>Console</span></th>
            <th><span>Sessao</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let usuario of usuarios ;trackBy: trackId">
                <td><a [routerLink]="['/usuario', usuario.id, 'view' ]">{{usuario.id}}</a></td>
                <td>{{usuario.login}}</td>
                <td>{{usuario.senha}}</td>
                <td>{{usuario.name}}</td>
                <td>{{usuario.credito}}</td>
                <td>{{usuario.vip}}</td>
                <td>
                    <span *ngFor="let lanchonete of usuario.lanchonetes; let last = last">
                            <a class="form-control-static" [routerLink]="['../lanchonete', lanchonete?.id, 'view' ]">{{lanchonete.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td>
                    <span *ngFor="let console of usuario.consoles; let last = last">
                            <a class="form-control-static" [routerLink]="['../console', console?.id, 'view' ]">{{console.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td>
                    <span *ngFor="let sessao of usuario.sessaos; let last = last">
                            <a class="form-control-static" [routerLink]="['../sessao', sessao?.id, 'view' ]">{{sessao.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/usuario', usuario.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/usuario', usuario.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'usuario/'+ usuario.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
