<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="sessao">
            <h2><span>Sessao</span> {{sessao.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Data</span></dt>
                <dd>
                    <span>{{sessao.data}}</span>
                </dd>
                <dt><span>H Inicio</span></dt>
                <dd>
                    <span>{{sessao.hInicio}}</span>
                </dd>
                <dt><span>Reserva</span></dt>
                <dd>
                    <div *ngIf="sessao.reserva">
                        <a [routerLink]="['/reserva', sessao.reserva?.id, 'view']">{{sessao.reserva?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/sessao', sessao.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
